@{
    ViewBag.Title = "Feedback";
    Layout = "~/Views/Shared/User_Layout.cshtml";
}


<h2>Complaints/Feedback</h2>


@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

        <hr />

        <form action="" method="post">
            <div class="form-group">

                Subject :
                <div class="input-group mb-3">
                    <input type="text" name="sub" class="form-control" required/>
                </div>
            </div>

            <div class="form-group">

                Details :
                <div class="input-group">

                    <input type="text" name="details" class="form-control" required/>
                </div>
                <input type="hidden" name="id" />
            </div>


            <div class="form-group">
                <div class="col-md-offset-2 col-md-10">
                    <input type="submit" value="Submit" class="btn btn-primary" />
                </div>
            </div>
        </form>
}



