@model HostelManagement.Models.User
@{
    ViewBag.Title = "Index";
}

Users Home Page
<h2>Welcome , @Model.Name  </h2>

@*@Html.ActionLink("Profile", "Edit", new { id = item.Id }) |
@Html.ActionLink()
@Html.ActionLink("Edit", "Edit", new { id = item.Id }) |*@