@model HostelManagement.Models.User
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/User_Layout.cshtml";
}
@{
    if (ViewBag.Room != null)
    {
        <h4>Your Room Details</h4>


        <div class="text-info">Room no.: @ViewBag.Room.Room_no</div>
        <div class="text-info">Monthly Rent: @ViewBag.Room.Rent</div>

    }
}