
@{
    ViewBag.Title = "SeeRequests";
    Layout = "~/Views/Shared/User_Layout.cshtml";
}


<h2>Sent Requests</h2>


<div class="form-group">
    <div class="col-md-offset-2 col-md-10">
        @*<input type="submit" value="Save" class="btn btn-primary" />*@
        @{

            if (Model.Status == 0 || Model.Status == 3)
            {
                @Html.ActionLink("Submit  ", "Requests", new { id = Model.Id }, new { @class = "btn btn-success" })
            }
            else
            {
                @Html.ActionLink("Submit  ", "Requests", new { id = Model.Id }, new { @class = "btn btn-success disabled" })

            }
        }
    </div>
</div>


@{
    if (ViewData["Status"] != null)
    {
    <h4>status: @ViewData["Status"]</h4>

        if (ViewData["Status"] != null)
                {
                        <h4>Room no: @ViewData["room"]</h4>
                }
        
}
}

