
@{
    ViewBag.Title = "SeeRequests";
    Layout = "~/Views/Shared/User_Layout.cshtml";
}


<h2>Sent Requests</h2>


<div class="form-group">
    <div class="col-md-offset-2 col-md-10">
        @*<input type="submit" value="Save" class="btn btn-primary" />*@
        
    </div>
</div>


@{
    if (ViewData["Status"] != null)
    {
        <h4>status: </h4>@ViewData["Status"];
}
}

