@model HostelManagement.Models.User

@{
    ViewBag.Title = "TrackRent";
    Layout = "~/Views/Shared/User_layout.cshtml";
}



<h2>TrackRent</h2>


<table class="table table-striped table-bordered">
    <tr>
        <th>
            Amount
        </th>
        <th>
            Date_of_payment
        </th>
        @*<th>
                @Html.DisplayNameFor(model => model.User.Name)
            </th>*@
        <th></th>
    </tr>

    @foreach (var item in ViewBag.List)
    {
        <tr>
            <td>
                @item.Amount
            </td>
            <td>
                @item.Date_of_payment.ToString("dd/MM/yyyy")
            </td>
            @*<td>
                    @Html.DisplayFor(modelItem => item.User.Name)
                </td>*@
        </tr>
    }

</table>
