

@Styles.Render("~/Content/css")
@Scripts.Render("~/bundles/modernizr")
@{
    ViewBag.Title = "Login";
}

@*<h2>Login failed</h2>*@

<div class="log-form">
    <form action="" method="post">


        <p>Email:</p>

        <input type="email" name="email" class="form-control" required />

        Password:

        <input type="password" name="password" class="form-control" required />

        <input type="submit" value="Login" class="btn btn-primary" />

    </form>
    <br />
    <div>
        @Html.ActionLink("Register", "Create", "Users")
    </div>
</div>