@model IEnumerable<HostelManagement.Models.complaint>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/Admin_layout.cshtml";
}

<h2>Complaints/Feedbacks</h2>
<hr />

<table  class="table table-bordered ">
    <tr>
       

        <th>
           Subject
        </th>
        <th>
           Details
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.sub)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.details)
        </td>
        @if(item.Seen==0)
        {
        <td>
            @Html.ActionLink("Mark seen", "Delete", new { id=item.Id }, new { @class = "btn btn-primary btn-sm my-1 my-sm-0" })
        </td>
        }
    </tr>
}

</table>
